#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: burlywood;
}

.logo:hover {
  filter: drop-shadow(0 0 2em black);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}




article img {
  height: 60px;
  vertical-align: middle;
  margin: 1em;
}

article h2 {
  cursor: pointer;
  background-color:burlywood;
}

nav {
  margin-bottom: 2em;
  text-decoration: underline black;
}

nav a {
  margin: 2em;
}